<style>
  .login_img_section {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
      url(https://images.unsplash.com/photo-1650825556125-060e52d40bd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
        center center;
  }
</style>
<div class="h-screen flex">
  <div
    class="hidden lg:flex w-full lg:w-1/2 login_img_section justify-around items-center"
  >
    <div class="bg-black opacity-20 inset-0 z-0"></div>
    <div class="w-full mx-auto px-20 flex-col items-center space-y-6">
      <h1 class="text-white font-bold text-4xl font-sans">MyApp - Register</h1>
      <p class="text-white mt-1">
        JWTAuth - Angular 14 & .NET 6 Authentication 🔐
      </p>
    </div>
  </div>
  <div
    class="flex w-full lg:w-1/2 justify-center items-center bg-white space-y-8"
  >
    <div class="w-full px-8 md:px-32 lg:px-24">
      <form
        class="bg-white rounded-md shadow-2xl p-5"
        [formGroup]="registerForm"
        (ngSubmit)="register()"
      >
        <h1 class="text-gray-800 font-bold text-2xl mb-1">
          Hi There, Good Day!
        </h1>
        <p class="text-sm font-normal text-gray-600 mb-8">Welcome to JWTAuth</p>
        <div
          class="flex items-center border-2 mb-8 py-2 px-3 rounded-2xl"
          [style]="
            registerForm.controls['email'].errors &&
            registerForm.controls['email'].touched
              ? 'border-color: red;'
              : ''
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-envelope-at-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"
            />
            <path
              d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"
            />
          </svg>
          <input
            id="email"
            formControlName="email"
            class="pl-2 w-full outline-none border-none"
            type="email"
            name="email"
            placeholder="Email Address"
          />
        </div>
        <div
          class="flex items-center border-2 mb-8 py-2 px-3 rounded-2xl"
          [style]="
            registerForm.controls['fullName'].errors &&
            registerForm.controls['fullName'].touched
              ? 'border-color: red;'
              : ''
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
            />
          </svg>
          <input
            id="fullName"
            formControlName="fullName"
            class="pl-2 w-full outline-none border-none"
            type="text"
            name="fullname"
            placeholder="Full Name"
          />
        </div>
        <div
          class="flex items-center border-2 mb-8 py-2 px-3 rounded-2xl"
          [style]="
            registerForm.controls['roles'].errors &&
            registerForm.controls['roles'].touched
              ? 'border-color: red;'
              : ''
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-check"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"
            />
            <path
              d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"
            />
          </svg>
          <mat-form-field class="pl-2 w-full outline-none border-none">
            <mat-label>Select roles</mat-label>
            <mat-select
              id="roles"
              formControlName="roles"
              multiple
            >
              <mat-option *ngFor="let role of roles" [value]="role">{{ role }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div
          class="flex items-center border-2 mb-12 py-2 px-3 rounded-2xl"
          [style]="
            registerForm.controls['password'].errors &&
            registerForm.controls['password'].touched
              ? 'border-color: red;'
              : ''
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-key"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"
            />
            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
          </svg>
          <input
            class="pl-2 w-full outline-none border-none"
            formControlName="password"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>
        <button
          type="submit"
          class="block w-full bg-indigo-600 mt-5 py-2 rounded-2xl text-white font-semibold mb-2"
        >
          Register
        </button>
        <div class="flex justify-between mt-4">
          <a
            routerLink="/login"
            class="text-sm ml-2 hover:text-blue-500 cursor-pointer hover:-translate-y-1 duration-500 transition-all"
            >Already registered?</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
