<div>
  <aside
    class="relative overflow-hidden text-black rounded-lg sm:mx-16 mx-2 sm:py-16"
  >
    <div
      class="relative z-10 max-w-screen-xl px-4 pb-20 pt-10 sm:py-24 mx-auto sm:px-6 lg:px-8"
    >
      <div
        class="max-w-xl sm:mt-1 mt-80 space-y-8 text-center sm:text-right sm:ml-auto"
      >
        <h2 class="text-9xl font-bold sm:text-9xl">
          Welcome to MyApp: JWT-Auth
          <span class="hidden sm:block text-2xl"> You are not logged in! </span>
        </h2>

        <a
          class="inline-flex text-white items-center px-6 py-3 font-medium bg-rose-500 rounded-lg hover:opacity-75"
          routerLink="/login"
        >
          <svg
            fill="white"
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            fillRule="evenodd"
            clipRule="evenodd"
          >
            <path
              d="M1.571 23.664l10.531-10.501 3.712 3.701-12.519 6.941c-.476.264-1.059.26-1.532-.011l-.192-.13zm9.469-11.56l-10.04 10.011v-20.022l10.04 10.011zm6.274-4.137l4.905 2.719c.482.268.781.77.781 1.314s-.299 1.046-.781 1.314l-5.039 2.793-4.015-4.003 4.149-4.137zm-15.854-7.534c.09-.087.191-.163.303-.227.473-.271 1.056-.275 1.532-.011l12.653 7.015-3.846 3.835-10.642-10.612z"
            />
          </svg>
          &nbsp; Login
        </a>
      </div>
    </div>

    <div class="absolute inset-0 w-full sm:my-20 sm:pt-1 pt-12 h-full">
      <img class="w-96" src="https://i.ibb.co/5BCcDYB/Remote2.png" />
    </div>
  </aside>

  <footer class="text-center">
    <hr />
    <p class="text-center py-5">
      Crafted with ❤️ by
      <span class="font-black"
        ><a href="https://github.com/amarjeetsahoo"></a>@amarjeetsahoo</span
      >
    </p>
  </footer>

  <script
    data-name="BMC-Widget"
    data-cfasync="false"
    src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
    data-id="sahilnetic"
    data-description="Support me on Buy me a coffee!"
    data-message=""
    data-color="#FFDD00"
    data-position="Right"
    data-x_margin="18"
    data-y_margin="18"
  ></script>
</div>
